.pagination {
    display: flex;
    justify-content: right;
    padding-right: 100px;
}


li {
    border: 1px solid gray;
    padding: 5px 5px;
    margin: 6px 5px;
    list-style: none;
    
}

button {
    text-decoration: none;
    border: none;
    background-color: white;
}